<H3 align = "center">
  PROYECTO SOBRE COSTES DE OBRAS
</H3>
<p>
  Con este proyecto intento crear un instrumento para el calculo rapido
  de los costes básicos de una obra de pilotes.
</p>
<p>
  A partir de los campos básicos como: <br>
  - diametro <br>
  - Profundidad <br>
  - Precio del hierro <br>
  - Precio del hormigón <br>
</p>
<p>Calculamos la cantidad de hierro y hormigón usado en cada pilote
  y sacamos los costes para cada uno de ellos.
</p>
<p>
  En las obras tendremos campos como el presupuesto, que nos ayudará a
  calcular el resultado de cada una de las obras, teniendo en cuenta los
  costes anteriores. <br>
</p>